[submodule "src/bwa"]
	path = src/bwa
	url = https://github.com/lh3/bwa.git
[submodule "src/speedseq"]
	path = src/speedseq
	url = https://github.com/hall-lab/speedseq.git
[submodule "src/samtools"]
	path = src/samtools
	url = https://github.com/samtools/samtools.git
[submodule "src/htslib"]
	path = src/htslib
	url = https://github.com/samtools/htslib.git
[submodule "src/bcftools"]
	path = src/bcftools
	url = https://github.com/samtools/bcftools.git
[submodule "src/delly"]
	path = src/delly
	url = https://github.com/dellytools/delly.git
[submodule "src/lumpy-sv"]
	path = src/lumpy-sv
	url = https://github.com/arq5x/lumpy-sv.git
[submodule "src/breakseq2"]
	path = src/breakseq2
	url = https://github.com/bioinform/breakseq2.git
[submodule "src/tigra"]
	path = src/tigra
	url = https://bitbucket.org/xianfan/tigra.git
[submodule "src/tigra-ext"]
	path = src/tigra-ext
	url = https://bitbucket.org/xianfan/tigra-ext.git
[submodule "src/bedtools2"]
	path = src/bedtools2
	url = https://github.com/arq5x/bedtools2.git
[submodule "src/hydra"]
	path = src/hydra
	url = https://github.com/arq5x/Hydra.git
